manifest {
	author = "Christian Schudoma, Daniel Podlesny, Anthony Fullam, Askarbek Orakov, Sebastian Schmidt"
	defaultBranch = "main"
	description = "Pipeline for assigning specI cluster to input genomes using COG marker genes"
	name = "reCOGnise"
	nextflowVersion = ">=22.10.6"
	version = "0.7"
}

process {
    withName: recognise_genome {
        publishDir = [ path: params.output_dir, mode: "copy" ]
        container = "ghcr.io/grp-bork/recognise:main"
    }
}

params {
    output_dir = null
    input_dir = null
    marker_db = null
}

docker {
    enabled = true
}