manifest {
	author = "Christian Schudoma, Daniel Podlesny, Anthony Fullam, Askarbek Orakov, Sebastian Schmidt"
	defaultBranch = "main"
	description = "Pipeline for species-assignment (specI cluster) of microbial genomes using COG marker genes"
	name = "reCOGnise"
	nextflowVersion = ">=22.10.6"
	version = "0.7"
}

process {
    withName: recognise_genome {        
        container = "ghcr.io/grp-bork/recognise:main"
        // container = "registry.git.embl.de/schudoma/recognise-docker:latest"
    }
}

params {
    output_dir = null
    input_dir = null
    marker_db = null
}

docker {
    enabled = true
}